## Imports by Country over Time Line Chart

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import plotly_express as px
import plotly.graph_objects as go
import dash

In [2]:
stacked_data = pd.read_csv('cleaned_data/stacked_data.csv')
stacked_data = pd.DataFrame(stacked_data)
stacked_data

         category           subcategory country  year   value
0         Animals  Bovine animals, live  Canada  2023  1311.1
1         Animals  Bovine animals, live  Canada  2022  1132.0
2         Animals  Bovine animals, live  Canada  2021   859.2
3         Animals  Bovine animals, live  Canada  2020   872.7
4         Animals  Bovine animals, live  Canada  2019   956.8
...           ...                   ...     ...   ...     ...
14445  Vegetables                 Total   Spain  2019   254.9
14446  Vegetables                 Total   Spain  2020   231.3
14447  Vegetables                 Total   Spain  2021   240.8
14448  Vegetables                 Total   Spain  2022   280.7
14449  Vegetables                 Total   Spain  2023   276.0

[14450 rows x 5 columns]

In [3]:
stacked_data[(stacked_data["subcategory"] == "Total")&(stacked_data['country']=="Canada")&(stacked_data['category']=="Vegetables")]

         category subcategory country  year   value
14200  Vegetables       Total  Canada  1999   795.5
14201  Vegetables       Total  Canada  2000   946.0
14202  Vegetables       Total  Canada  2001  1047.6
14203  Vegetables       Total  Canada  2002  1155.2
14204  Vegetables       Total  Canada  2003  1341.7
14205  Vegetables       Total  Canada  2004  1486.0
14206  Vegetables       Total  Canada  2005  1506.5
14207  Vegetables       Total  Canada  2006  1665.4
14208  Vegetables       Total  Canada  2007  1731.1
14209  Vegetables       Total  Canada  2008  1916.3
14210  Vegetables       Total  Canada  2009  1841.5
14211  Vegetables       Total  Canada  2010  1957.6
14212  Vegetables       Total  Canada  2011  2120.6
14213  Vegetables       Total  Canada  2012  2140.3
14214  Vegetables       Total  Canada  2013  2411.5
14215  Vegetables       Total  Canada  2014  2425.5
14216  Vegetables       Total  Canada  2015  2401.9
14217  Vegetables       Total  Canada  2016  2570.0
14218  Vegetables       Total  Canada  2017  2809.6
14219  Vegetables       Total  Canada  2018  2998.5
14220  Vegetables       Total  Canada  2019  3053.6
14221  Vegetables       Total  Canada  2020  3378.2
14222  Vegetables       Total  Canada  2021  3826.7
14223  Vegetables       Total  Canada  2022  4401.8
14224  Vegetables       Total  Canada  2023  5058.1

In [21]:
filtered_data = stacked_data[
        (stacked_data["subcategory"] == "Total") & 
        (stacked_data['country'] == ["Canada","Mexico"]) & 
        (stacked_data['category'].isin(["Vegetables"]))
    ]

ValueError: ('Lengths must match to compare', (14450,), (2,))

In [31]:
app = dash.Dash(__name__)

app.layout = dash.html.Div([
    dash.html.H1("U.S. International Food Imports"),
    dash.dcc.Graph(id="line-chart"),
])

@app.callback(
    dash.dependencies.Output("line-chart", "figure"),
    dash.dependencies.Input("line-chart", "id")  # Input is necessary to trigger the callback
)
def update_chart(_):
    filtered_data = stacked_data[
        (stacked_data["subcategory"] == "Total") & 
        (stacked_data['country'].isin(["Canada","Mexico"])) & 
        (stacked_data['category'].isin(["Vegetables","Animals"]))
    ]

    import_by_country_over_time_fig = px.line(
        filtered_data,
        x="year",
        y="value",
        color="country",
        markers=True,
        title="Imports by Country over Time",
        labels={"value": "Value (Million Dollars)", "year": "Year"}
    )
    
    for trace in import_by_country_over_time_fig.data:
        category = trace.name 
        
        if category == "Vegetables":
            trace.update(line=dict(dash='solid'))  
        elif category == "Animals":
            trace.update(line=dict(dash='dash'))

    return import_by_country_over_time_fig

if __name__ == "__main__":
    app.run_server(debug=True, port=8051)